annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
certifi==2026.4.22
cffi==2.0.0
contextlib2==21.6.0
cryptography==46.0.7
django-cors-headers==4.9.0
django-hosts==7.0.0
django-ninja-extra==0.31.4
django-ninja-jwt==5.4.4
django-ninja==1.6.2
Django==6.0.4
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
injector==0.24.0
psycopg-binary==3.3.3
psycopg==3.3.3
pycparser==3.0
pydantic-settings==2.14.0
pydantic==2.13.1
pydantic_core==2.46.1
PyJWT==2.12.1
python-dotenv==1.2.2
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
whitenoise==6.11.0
